@model IEnumerable<ExperienceIT_Final_Project.Models.Student>

@{
    ViewBag.Title = "Students Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var assignDue = 5;
    var fullname = "";
}


<h1>Students Progress</h1>
<link href="/css/StyleSheetstudentprogress.css" rel="stylesheet">
<div>
<textarea class="messageOfDay" name="messageOfDay"
          placeholder="This will be the Message of the Day" readonly></textarea>
</div>



<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Students Behind:</th> 
                <th>Last Assignment Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                fullname = s.FirstName + " " + s.LastName;
            <tr>
                @if (s.LastAssignment < assignDue)
                {
                    <td>@fullname  </td>
                    <td>@s.LastAssignment</td>
                }
            </tr>
            }
        </tbody>
    </table>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Students Current</th>
                <th>Last Assignment Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                fullname = s.FirstName + " " + s.LastName;
                <tr>
                    @if (s.LastAssignment == assignDue)
                    {
                        <td>@fullname</td>
                        <td>@s.LastAssignment</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Students   Ahead</th> 
                <th>Last Assignment Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                fullname = s.FirstName + " " + s.LastName;
            <tr>
                @if (s.LastAssignment > assignDue)
                {
                    <td>@fullname</td>
                    <td>@s.LastAssignment</td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>

