@model IEnumerable<ExperienceIT_Final_Project.Models.Student>
@{
    ViewBag.Title = "Students Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var assignDue = 5;
}



<h1>Students Progress</h1>
<link href="/css/StyleSheetstudentprogress.css" rel="stylesheet">
<div>
<textarea class="messageOfDay" name="messageOfDay"
          placeholder="This will be the Message of the Day" readonly></textarea>
</div>
<div class="block">
    Students Behind:
    <br />
    @foreach (var s in Model)
    {
        if (s.LastAssignment < assignDue)
        {
            @s.FirstName @s.LastName
        }
    }
</div>
<div class="block">
    Students Current:
    <br />
    @foreach (var s in Model)
    {
        if (s.LastAssignment == assignDue)
        {
            @s.FirstName @s.LastName
        }
    }
</div>
<div class="block">
    Students Ahead:
    <br />
    @foreach (var s in Model)
    {
        if (s.LastAssignment > assignDue)
        {
            @s.FirstName @s.LastName
        }
    }
</div>



