@model ExperienceIT_Final_Project.Models.AssignmentModel

@{
    ViewBag.Title = "AllAssignments";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";

    var lastassign = Model.Student.LastAssignment;


}

<!--2Model.Student.LastName 2lastassign-->


<div>

    <br />

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Completed?</th>
        </thead>
        <tbody>


            @foreach (var a in Model.AssignmentList)
            {

                <tr>
                    @if (a.AssignmentNumber <= @lastassign)
                    {
                        <td>@a.Name</td>
                        <td>@a.Description</td>
                        <td>@a.DueDate</td>
                        <td>Y</td>
                    }
                    else
                    {
                        <td>@Html.ActionLink(a.Name, "Details", "Student", new { id = a.Id }, null)</td>
                        <td>@a.Description</td>
                        <td>@a.DueDate</td>
                        <td>N</td>
                    }


                </tr>
            }
        </tbody>
    </table>
</div>