@model ExperienceIT_Final_Project.Models.Assignment

<h2>@Model.Name</h2>
<ul>
    <li>Assignment Number: @Model.Id</li>
    <li>Assignment Description: @Model.Description</li>
    <li>Due Date : @Model.DueDate</li>

</ul>
@using (Html.BeginForm("Save", "Student"))
{
    <button type="submit" class="btn btn-primary">Complete Assignment</button>
}
<!--2Html.ActionLink("Submit Assignments", "AllAssignments", "Student", null, new { 2class = "btn btn-primary" }) -->

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
